{
  "openapi": "3.0.1",
  "info": {
    "title": "Brave SDK API",
    "version": "1.0.0",
    "description": "Single entry-point API for all Brave SDK functions via a wrapper Lambda",
    "toolsPromptUrl": "https://github.com/microfox-ai/microfox/blob/main/packages/brave/sls/ToolsPrompt.md",
    "contact": {
      "name": "Microfox Dev Support",
      "email": "support@microfox.com"
    }
  },
  "servers": [
    {
      "url": "https://api.microfox.com/c/brave",
      "description": "Unified wrapper endpoint"
    }
  ],
  "paths": {
    "/webSearch": {
      "post": {
        "operationId": "webSearch",
        "summary": "Generate OpenAPI specification for the webSearch function",
        "description": "Analyze the provided webSearch function documentation and generate an OpenAPI specification. This includes creating a summary, description, arguments structure, and responses schema for the function.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "object",
                    "description": "Body of the webSearch sls call",
                    "properties": {
                      "arguments": {
                        "type": "array",
                        "items": [
                          {
                            "type": "object",
                            "properties": {
                              "summary": {
                                "type": "string",
                                "description": "One clear sentence describing what this function does"
                              },
                              "description": {
                                "type": "string",
                                "description": "2-3 sentences explaining the function's purpose and behavior"
                              },
                              "arguments": {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "array"
                                    ]
                                  },
                                  "items": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "type": {
                                          "type": "string"
                                        },
                                        "description": {
                                          "type": "string"
                                        },
                                        "properties": {
                                          "type": "object"
                                        },
                                        "required": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          }
                                        }
                                      },
                                      "required": [
                                        "type",
                                        "description"
                                      ]
                                    }
                                  }
                                },
                                "required": [
                                  "type",
                                  "items"
                                ]
                              },
                              "responses": {
                                "type": "object",
                                "properties": {
                                  "200": {
                                    "type": "object",
                                    "properties": {
                                      "description": {
                                        "type": "string"
                                      },
                                      "content": {
                                        "type": "object",
                                        "properties": {
                                          "application/json": {
                                            "type": "object",
                                            "properties": {
                                              "schema": {
                                                "type": "object"
                                              }
                                            },
                                            "required": [
                                              "schema"
                                            ]
                                          }
                                        },
                                        "required": [
                                          "application/json"
                                        ]
                                      }
                                    },
                                    "required": [
                                      "description",
                                      "content"
                                    ]
                                  },
                                  "400": {
                                    "type": "object",
                                    "properties": {
                                      "description": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "description"
                                    ]
                                  },
                                  "500": {
                                    "type": "object",
                                    "properties": {
                                      "description": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "description"
                                    ]
                                  }
                                },
                                "required": [
                                  "200",
                                  "400",
                                  "500"
                                ]
                              }
                            },
                            "required": [
                              "summary",
                              "description",
                              "arguments",
                              "responses"
                            ]
                          }
                        ]
                      },
                      "auth": {
                        "type": "object",
                        "description": "Authentication object",
                        "properties": {
                          "strategy": {
                            "type": "string",
                            "description": "Authentication strategy",
                            "enum": [
                              "apikey"
                            ]
                          },
                          "variables": {
                            "type": "array",
                            "description": "Variables for the authentication strategy",
                            "items": [
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "BRAVE_API_KEY"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of BRAVE_API_KEY"
                                  }
                                }
                              }
                            ]
                          }
                        }
                      },
                      "packageName": {
                        "type": "string",
                        "description": "@microfox/brave"
                      }
                    },
                    "required": [
                      "arguments"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "summary": {
                      "type": "string",
                      "description": "One clear sentence describing what this function does"
                    },
                    "description": {
                      "type": "string",
                      "description": "2-3 sentences explaining the function's purpose and behavior"
                    },
                    "arguments": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "array"
                          ]
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "properties": {
                                "type": "object"
                              },
                              "required": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            },
                            "required": [
                              "type",
                              "description"
                            ]
                          }
                        }
                      },
                      "required": [
                        "type",
                        "items"
                      ]
                    },
                    "responses": {
                      "type": "object",
                      "properties": {
                        "200": {
                          "type": "object",
                          "properties": {
                            "description": {
                              "type": "string"
                            },
                            "content": {
                              "type": "object",
                              "properties": {
                                "application/json": {
                                  "type": "object",
                                  "properties": {
                                    "schema": {
                                      "type": "object"
                                    }
                                  },
                                  "required": [
                                    "schema"
                                  ]
                                }
                              },
                              "required": [
                                "application/json"
                              ]
                            }
                          },
                          "required": [
                            "description",
                            "content"
                          ]
                        },
                        "400": {
                          "type": "object",
                          "properties": {
                            "description": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "description"
                          ]
                        },
                        "500": {
                          "type": "object",
                          "properties": {
                            "description": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "description"
                          ]
                        }
                      },
                      "required": [
                        "200",
                        "400",
                        "500"
                      ]
                    }
                  },
                  "required": [
                    "summary",
                    "description",
                    "arguments",
                    "responses"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/localPoiSearch": {
      "post": {
        "operationId": "localPoiSearch",
        "summary": "Execute localPoiSearch function",
        "description": "Executes the localPoiSearch function with provided parameters",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "object",
                    "description": "Body of the localPoiSearch sls call",
                    "properties": {
                      "arguments": {
                        "type": "array",
                        "items": [
                          {
                            "type": "any",
                            "description": "Function parameters"
                          }
                        ]
                      },
                      "auth": {
                        "type": "object",
                        "description": "Authentication object",
                        "properties": {
                          "strategy": {
                            "type": "string",
                            "description": "Authentication strategy",
                            "enum": [
                              "apikey"
                            ]
                          },
                          "variables": {
                            "type": "array",
                            "description": "Variables for the authentication strategy",
                            "items": [
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "BRAVE_API_KEY"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of BRAVE_API_KEY"
                                  }
                                }
                              }
                            ]
                          }
                        }
                      },
                      "packageName": {
                        "type": "string",
                        "description": "@microfox/brave"
                      }
                    },
                    "required": [
                      "arguments"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "any"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/localDescriptionsSearch": {
      "post": {
        "operationId": "localDescriptionsSearch",
        "summary": "Execute localDescriptionsSearch function",
        "description": "Executes the localDescriptionsSearch function with provided parameters",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "object",
                    "description": "Body of the localDescriptionsSearch sls call",
                    "properties": {
                      "arguments": {
                        "type": "array",
                        "items": [
                          {
                            "type": "any",
                            "description": "Function parameters"
                          }
                        ]
                      },
                      "auth": {
                        "type": "object",
                        "description": "Authentication object",
                        "properties": {
                          "strategy": {
                            "type": "string",
                            "description": "Authentication strategy",
                            "enum": [
                              "apikey"
                            ]
                          },
                          "variables": {
                            "type": "array",
                            "description": "Variables for the authentication strategy",
                            "items": [
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "BRAVE_API_KEY"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of BRAVE_API_KEY"
                                  }
                                }
                              }
                            ]
                          }
                        }
                      },
                      "packageName": {
                        "type": "string",
                        "description": "@microfox/brave"
                      }
                    },
                    "required": [
                      "arguments"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "any"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/summarizerSearch": {
      "post": {
        "operationId": "summarizerSearch",
        "summary": "Execute summarizerSearch function",
        "description": "Executes the summarizerSearch function with provided parameters",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "object",
                    "description": "Body of the summarizerSearch sls call",
                    "properties": {
                      "arguments": {
                        "type": "array",
                        "items": [
                          {
                            "type": "any",
                            "description": "Function parameters"
                          }
                        ]
                      },
                      "auth": {
                        "type": "object",
                        "description": "Authentication object",
                        "properties": {
                          "strategy": {
                            "type": "string",
                            "description": "Authentication strategy",
                            "enum": [
                              "apikey"
                            ]
                          },
                          "variables": {
                            "type": "array",
                            "description": "Variables for the authentication strategy",
                            "items": [
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "BRAVE_API_KEY"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of BRAVE_API_KEY"
                                  }
                                }
                              }
                            ]
                          }
                        }
                      },
                      "packageName": {
                        "type": "string",
                        "description": "@microfox/brave"
                      }
                    },
                    "required": [
                      "arguments"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "any"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/imageSearch": {
      "post": {
        "operationId": "imageSearch",
        "summary": "The imageSearch function enables image search capabilities through the Brave Search API, allowing users to find and retrieve images based on search queries.",
        "description": "The imageSearch function provides a powerful interface to search for images using the Brave Search API. It accepts a wide range of parameters to customize the search, including query, language, country, content filtering, and result limits. The function returns a Promise that resolves to an object containing detailed image search results and metadata.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "object",
                    "description": "Body of the imageSearch sls call",
                    "properties": {
                      "arguments": {
                        "type": "array",
                        "items": [
                          {
                            "type": "object",
                            "description": "Configuration object containing all function parameters",
                            "properties": {
                              "q": {
                                "type": "string",
                                "description": "The search query (max 400 characters, 50 words)",
                                "maxLength": 400
                              },
                              "country": {
                                "type": "string",
                                "description": "Two-letter country code (e.g., 'US', 'GB')",
                                "pattern": "^[A-Z]{2}$"
                              },
                              "search_lang": {
                                "type": "string",
                                "description": "Language for search results"
                              },
                              "ui_lang": {
                                "type": "string",
                                "description": "Language for user interface elements"
                              },
                              "count": {
                                "type": "integer",
                                "description": "Number of results to return (maximum: 20)",
                                "maximum": 20
                              },
                              "offset": {
                                "type": "integer",
                                "description": "Pagination offset (maximum: 9)",
                                "maximum": 9
                              },
                              "safesearch": {
                                "type": "string",
                                "enum": [
                                  "off",
                                  "moderate",
                                  "strict"
                                ],
                                "description": "Content filtering level"
                              },
                              "freshness": {
                                "type": "string",
                                "description": "Result freshness filter (preset values: 'pd', 'pw', 'pm', 'py', or custom string)"
                              },
                              "text_decorations": {
                                "type": "boolean",
                                "description": "Include text decoration markers in results"
                              },
                              "spellcheck": {
                                "type": "boolean",
                                "description": "Enable automatic spell checking"
                              },
                              "result_filter": {
                                "type": "string",
                                "description": "Comma-separated list of result types to include"
                              },
                              "goggles": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "Array of goggle definitions"
                              },
                              "units": {
                                "type": "string",
                                "enum": [
                                  "metric",
                                  "imperial"
                                ],
                                "description": "Measurement units"
                              }
                            },
                            "required": [
                              "q"
                            ]
                          }
                        ]
                      },
                      "auth": {
                        "type": "object",
                        "description": "Authentication object",
                        "properties": {
                          "strategy": {
                            "type": "string",
                            "description": "Authentication strategy",
                            "enum": [
                              "apikey"
                            ]
                          },
                          "variables": {
                            "type": "array",
                            "description": "Variables for the authentication strategy",
                            "items": [
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "BRAVE_API_KEY"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of BRAVE_API_KEY"
                                  }
                                }
                              }
                            ]
                          }
                        }
                      },
                      "packageName": {
                        "type": "string",
                        "description": "@microfox/brave"
                      }
                    },
                    "required": [
                      "arguments"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "query": {
                      "type": "object",
                      "properties": {
                        "original": {
                          "type": "string"
                        },
                        "show_strict_warning": {
                          "type": "boolean"
                        },
                        "is_navigational": {
                          "type": "boolean"
                        },
                        "is_news_breaking": {
                          "type": "boolean"
                        },
                        "spellcheck_off": {
                          "type": "boolean"
                        },
                        "country": {
                          "type": "string"
                        },
                        "bad_results": {
                          "type": "boolean"
                        },
                        "should_fallback": {
                          "type": "boolean"
                        },
                        "postal_code": {
                          "type": "string"
                        },
                        "city": {
                          "type": "string"
                        },
                        "header_country": {
                          "type": "string"
                        },
                        "more_results_available": {
                          "type": "boolean"
                        },
                        "state": {
                          "type": "string"
                        }
                      }
                    },
                    "mixed": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "main": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "title": {
                                "type": "string"
                              },
                              "url": {
                                "type": "string"
                              },
                              "source": {
                                "type": "string"
                              },
                              "source_favicon": {
                                "type": "string"
                              },
                              "source_domain": {
                                "type": "string"
                              },
                              "thumbnail": {
                                "type": "object",
                                "properties": {
                                  "src": {
                                    "type": "string"
                                  },
                                  "original": {
                                    "type": "string"
                                  },
                                  "width": {
                                    "type": "number"
                                  },
                                  "height": {
                                    "type": "number"
                                  }
                                }
                              },
                              "size": {
                                "type": "object",
                                "properties": {
                                  "width": {
                                    "type": "number"
                                  },
                                  "height": {
                                    "type": "number"
                                  }
                                }
                              },
                              "age": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "family_friendly": {
                                "type": "boolean"
                              }
                            }
                          }
                        }
                      }
                    },
                    "type": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message describing the bad request"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message describing the server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/videoSearch": {
      "post": {
        "operationId": "videoSearch",
        "summary": "Execute videoSearch function",
        "description": "Executes the videoSearch function with provided parameters",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "object",
                    "description": "Body of the videoSearch sls call",
                    "properties": {
                      "arguments": {
                        "type": "array",
                        "items": [
                          {
                            "type": "any",
                            "description": "Function parameters"
                          }
                        ]
                      },
                      "auth": {
                        "type": "object",
                        "description": "Authentication object",
                        "properties": {
                          "strategy": {
                            "type": "string",
                            "description": "Authentication strategy",
                            "enum": [
                              "apikey"
                            ]
                          },
                          "variables": {
                            "type": "array",
                            "description": "Variables for the authentication strategy",
                            "items": [
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "BRAVE_API_KEY"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of BRAVE_API_KEY"
                                  }
                                }
                              }
                            ]
                          }
                        }
                      },
                      "packageName": {
                        "type": "string",
                        "description": "@microfox/brave"
                      }
                    },
                    "required": [
                      "arguments"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "any"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/newsSearch": {
      "post": {
        "operationId": "newsSearch",
        "summary": "The newsSearch function performs a news search using the Brave Search API.",
        "description": "This function allows users to search for news articles using various parameters through the Brave Search API. It provides flexibility in specifying search criteria such as query, country, language, and result filtering. The function returns a promise that resolves to a comprehensive news search response containing detailed information about each article.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "object",
                    "description": "Body of the newsSearch sls call",
                    "properties": {
                      "arguments": {
                        "type": "array",
                        "items": [
                          {
                            "type": "object",
                            "description": "NewsSearchParams object containing search parameters",
                            "properties": {
                              "q": {
                                "type": "string",
                                "description": "The search query (max 400 characters, 50 words)",
                                "maxLength": 400
                              },
                              "country": {
                                "type": "string",
                                "description": "2-letter country code",
                                "default": "US",
                                "pattern": "^[A-Z]{2}$"
                              },
                              "search_lang": {
                                "type": "string",
                                "description": "Search language",
                                "default": "en"
                              },
                              "ui_lang": {
                                "type": "string",
                                "description": "UI language",
                                "default": "en-US"
                              },
                              "count": {
                                "type": "integer",
                                "description": "Number of results (1-20)",
                                "default": 20,
                                "minimum": 1,
                                "maximum": 20
                              },
                              "offset": {
                                "type": "integer",
                                "description": "Offset for pagination (0-9)",
                                "default": 0,
                                "minimum": 0,
                                "maximum": 9
                              },
                              "safesearch": {
                                "type": "string",
                                "description": "Safe search level",
                                "enum": [
                                  "off",
                                  "moderate",
                                  "strict"
                                ],
                                "default": "moderate"
                              },
                              "freshness": {
                                "oneOf": [
                                  {
                                    "type": "string",
                                    "enum": [
                                      "pd",
                                      "pw",
                                      "pm",
                                      "py"
                                    ],
                                    "description": "Predefined freshness options"
                                  },
                                  {
                                    "type": "string",
                                    "pattern": "^\\d{4}-\\d{2}-\\d{2}to\\d{4}-\\d{2}-\\d{2}$",
                                    "description": "Custom date range in format 'YYYY-MM-DDtoYYYY-MM-DD'"
                                  }
                                ],
                                "description": "Freshness of results"
                              },
                              "text_decorations": {
                                "type": "boolean",
                                "description": "Include decoration markers",
                                "default": true
                              },
                              "spellcheck": {
                                "type": "boolean",
                                "description": "Enable spellchecking",
                                "default": true
                              },
                              "result_filter": {
                                "type": "string",
                                "description": "Comma-separated list of result types"
                              },
                              "goggles": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "Goggle definitions for custom re-ranking"
                              },
                              "units": {
                                "type": "string",
                                "enum": [
                                  "metric",
                                  "imperial"
                                ],
                                "description": "Units for measurements"
                              }
                            },
                            "required": [
                              "q"
                            ]
                          }
                        ]
                      },
                      "auth": {
                        "type": "object",
                        "description": "Authentication object",
                        "properties": {
                          "strategy": {
                            "type": "string",
                            "description": "Authentication strategy",
                            "enum": [
                              "apikey"
                            ]
                          },
                          "variables": {
                            "type": "array",
                            "description": "Variables for the authentication strategy",
                            "items": [
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "BRAVE_API_KEY"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of BRAVE_API_KEY"
                                  }
                                }
                              }
                            ]
                          }
                        }
                      },
                      "packageName": {
                        "type": "string",
                        "description": "@microfox/brave"
                      }
                    },
                    "required": [
                      "arguments"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful news search response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "news"
                    },
                    "query": {
                      "type": "object",
                      "properties": {
                        "original": {
                          "type": "string"
                        },
                        "altered": {
                          "type": "string"
                        },
                        "cleaned": {
                          "type": "string"
                        }
                      }
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "const": "news_result"
                          },
                          "url": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "age": {
                            "type": "string"
                          },
                          "page_age": {
                            "type": "string"
                          },
                          "page_fetched": {
                            "type": "string"
                          },
                          "breaking": {
                            "type": "boolean"
                          },
                          "thumbnail": {
                            "type": "object",
                            "properties": {
                              "src": {
                                "type": "string"
                              },
                              "width": {
                                "type": "integer"
                              },
                              "height": {
                                "type": "integer"
                              }
                            }
                          },
                          "meta_url": {
                            "type": "object",
                            "properties": {
                              "source": {
                                "type": "string"
                              },
                              "domain": {
                                "type": "string"
                              }
                            }
                          },
                          "extra_snippets": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/suggestSearch": {
      "post": {
        "operationId": "suggestSearch",
        "summary": "Retrieves search suggestions using the Brave Search API.",
        "description": "This function provides search suggestions based on a given query, helping users find relevant search terms and entities. It accepts a search query and optional parameters for country and result count, returning a promise that resolves to an object containing the original query and an array of suggestion results.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "object",
                    "description": "Body of the suggestSearch sls call",
                    "properties": {
                      "arguments": {
                        "type": "array",
                        "items": [
                          {
                            "type": "object",
                            "description": "An object containing the search parameters",
                            "properties": {
                              "q": {
                                "type": "string",
                                "description": "The search query"
                              },
                              "country": {
                                "type": "string",
                                "description": "2-letter country code"
                              },
                              "count": {
                                "type": "number",
                                "description": "Number of suggestions to return"
                              }
                            },
                            "required": [
                              "q"
                            ]
                          }
                        ]
                      },
                      "auth": {
                        "type": "object",
                        "description": "Authentication object",
                        "properties": {
                          "strategy": {
                            "type": "string",
                            "description": "Authentication strategy",
                            "enum": [
                              "apikey"
                            ]
                          },
                          "variables": {
                            "type": "array",
                            "description": "Variables for the authentication strategy",
                            "items": [
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "BRAVE_API_KEY"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of BRAVE_API_KEY"
                                  }
                                }
                              }
                            ]
                          }
                        }
                      },
                      "packageName": {
                        "type": "string",
                        "description": "@microfox/brave"
                      }
                    },
                    "required": [
                      "arguments"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with search suggestions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "suggest"
                      ],
                      "description": "Always 'suggest'"
                    },
                    "query": {
                      "type": "object",
                      "properties": {
                        "original": {
                          "type": "string",
                          "description": "The original search query"
                        }
                      },
                      "required": [
                        "original"
                      ]
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "query": {
                            "type": "string",
                            "description": "The suggested query"
                          },
                          "is_entity": {
                            "type": "boolean",
                            "description": "Whether the suggestion is an entity"
                          },
                          "title": {
                            "type": "string",
                            "description": "The title of the suggestion"
                          },
                          "description": {
                            "type": "string",
                            "description": "Description of the suggestion"
                          },
                          "img": {
                            "type": "string",
                            "description": "Image URL for the suggestion"
                          }
                        },
                        "required": [
                          "query",
                          "is_entity"
                        ]
                      }
                    }
                  },
                  "required": [
                    "type",
                    "query",
                    "results"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message describing the issue with the request"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message describing the internal server error"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/spellcheckSearch": {
      "post": {
        "operationId": "spellcheckSearch",
        "summary": "Generate OpenAPI specification for the spellcheckSearch function",
        "description": "Analyze the provided function documentation for spellcheckSearch and create a comprehensive OpenAPI specification. This includes generating a clear summary, detailed description, arguments structure, and complete responses schema.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "object",
                    "description": "Body of the spellcheckSearch sls call",
                    "properties": {
                      "arguments": {
                        "type": "array",
                        "items": [
                          {
                            "type": "object",
                            "properties": {
                              "summary": {
                                "type": "string",
                                "description": "One clear sentence describing what this function does"
                              },
                              "description": {
                                "type": "string",
                                "description": "2-3 sentences explaining the function's purpose and behavior"
                              },
                              "arguments": {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "array"
                                    ]
                                  },
                                  "items": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "type": {
                                          "type": "string"
                                        },
                                        "description": {
                                          "type": "string"
                                        },
                                        "properties": {
                                          "type": "object",
                                          "additionalProperties": {
                                            "type": "object",
                                            "properties": {
                                              "type": {
                                                "type": "string"
                                              },
                                              "description": {
                                                "type": "string"
                                              }
                                            }
                                          }
                                        },
                                        "required": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          }
                                        }
                                      }
                                    }
                                  }
                                },
                                "required": [
                                  "type",
                                  "items"
                                ]
                              },
                              "responses": {
                                "type": "object",
                                "properties": {
                                  "200": {
                                    "type": "object",
                                    "properties": {
                                      "description": {
                                        "type": "string"
                                      },
                                      "content": {
                                        "type": "object",
                                        "properties": {
                                          "application/json": {
                                            "type": "object",
                                            "properties": {
                                              "schema": {
                                                "type": "object"
                                              }
                                            }
                                          }
                                        }
                                      }
                                    }
                                  },
                                  "400": {
                                    "type": "object",
                                    "properties": {
                                      "description": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "500": {
                                    "type": "object",
                                    "properties": {
                                      "description": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                },
                                "required": [
                                  "200",
                                  "400",
                                  "500"
                                ]
                              }
                            },
                            "required": [
                              "summary",
                              "description",
                              "arguments",
                              "responses"
                            ]
                          }
                        ]
                      },
                      "auth": {
                        "type": "object",
                        "description": "Authentication object",
                        "properties": {
                          "strategy": {
                            "type": "string",
                            "description": "Authentication strategy",
                            "enum": [
                              "apikey"
                            ]
                          },
                          "variables": {
                            "type": "array",
                            "description": "Variables for the authentication strategy",
                            "items": [
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "BRAVE_API_KEY"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of BRAVE_API_KEY"
                                  }
                                }
                              }
                            ]
                          }
                        }
                      },
                      "packageName": {
                        "type": "string",
                        "description": "@microfox/brave"
                      }
                    },
                    "required": [
                      "arguments"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "summary": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "arguments": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "items": {
                          "type": "array"
                        }
                      }
                    },
                    "responses": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    }
  }
}