{
  "openapi": "3.0.1",
  "info": {
    "title": "Reddit TypeScript SDK API",
    "version": "1.0.0",
    "description": "Single entry-point API for all Reddit TypeScript SDK functions via a wrapper Lambda",
    "contact": {
      "name": "Microfox Dev Support",
      "email": "support@microfox.com"
    }
  },
  "servers": [
    {
      "url": "https://api.microfox.com/c/reddit",
      "description": "Unified wrapper endpoint"
    }
  ],
  "paths": {
    "/validateAccessToken": {
      "post": {
        "operationId": "validateAccessToken",
        "summary": "Validates the current access token.",
        "description": "This function checks if the current access token is valid. It performs a validation process on the existing access token and returns a boolean result. The function is useful for verifying the authenticity and expiration status of the token before making authenticated requests.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "object",
                    "description": "Body of the validateAccessToken sls call",
                    "properties": {
                      "arguments": {
                        "type": "array",
                        "items": []
                      },
                      "auth": {
                        "type": "object",
                        "description": "Authentication object",
                        "properties": {
                          "strategy": {
                            "type": "string",
                            "description": "Authentication strategy",
                            "enum": [
                              "oauth2"
                            ]
                          },
                          "variables": {
                            "type": "array",
                            "description": "Variables for the authentication strategy",
                            "items": [
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_CLIENT_ID"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_CLIENT_ID"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_CLIENT_SECRET"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_CLIENT_SECRET"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_REDIRECT_URI"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_REDIRECT_URI"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_ACCESS_TOKEN"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_ACCESS_TOKEN"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_REFRESH_TOKEN"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_REFRESH_TOKEN"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "SCOPES"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of SCOPES"
                                  }
                                }
                              }
                            ]
                          }
                        }
                      },
                      "packageName": {
                        "type": "string",
                        "description": "@microfox/reddit"
                      }
                    },
                    "required": [
                      "arguments"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isValid": {
                      "type": "boolean",
                      "description": "Indicates whether the access token is valid"
                    }
                  },
                  "required": [
                    "isValid"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input or missing access token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message describing the issue"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message describing the server error"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/refreshAccessToken": {
      "post": {
        "operationId": "refreshAccessToken",
        "summary": "Refreshes the access token using a refresh token.",
        "description": "This function obtains a new access token using the provided refresh token. It is used to maintain continuous access to the API without requiring the user to re-authenticate. The function does not return a value, suggesting it updates the token internally.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "object",
                    "description": "Body of the refreshAccessToken sls call",
                    "properties": {
                      "arguments": {
                        "type": "array",
                        "items": [
                          {
                            "type": "string",
                            "description": "The refresh token obtained during initial authorization."
                          }
                        ]
                      },
                      "auth": {
                        "type": "object",
                        "description": "Authentication object",
                        "properties": {
                          "strategy": {
                            "type": "string",
                            "description": "Authentication strategy",
                            "enum": [
                              "oauth2"
                            ]
                          },
                          "variables": {
                            "type": "array",
                            "description": "Variables for the authentication strategy",
                            "items": [
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_CLIENT_ID"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_CLIENT_ID"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_CLIENT_SECRET"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_CLIENT_SECRET"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_REDIRECT_URI"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_REDIRECT_URI"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_ACCESS_TOKEN"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_ACCESS_TOKEN"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_REFRESH_TOKEN"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_REFRESH_TOKEN"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "SCOPES"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of SCOPES"
                                  }
                                }
                              }
                            ]
                          }
                        }
                      },
                      "packageName": {
                        "type": "string",
                        "description": "@microfox/reddit"
                      }
                    },
                    "required": [
                      "arguments"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully refreshed access token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Access token refreshed successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid refresh token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid refresh token"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred while refreshing the token"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getMe": {
      "post": {
        "operationId": "getMe",
        "summary": "Retrieves information about the currently authenticated user.",
        "description": "This function fetches the user data for the authenticated user. It requires no parameters and returns an object containing the user's information. This is useful for getting details about the current user's account or profile.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "object",
                    "description": "Body of the getMe sls call",
                    "properties": {
                      "arguments": {
                        "type": "array",
                        "items": []
                      },
                      "auth": {
                        "type": "object",
                        "description": "Authentication object",
                        "properties": {
                          "strategy": {
                            "type": "string",
                            "description": "Authentication strategy",
                            "enum": [
                              "oauth2"
                            ]
                          },
                          "variables": {
                            "type": "array",
                            "description": "Variables for the authentication strategy",
                            "items": [
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_CLIENT_ID"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_CLIENT_ID"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_CLIENT_SECRET"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_CLIENT_SECRET"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_REDIRECT_URI"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_REDIRECT_URI"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_ACCESS_TOKEN"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_ACCESS_TOKEN"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_REFRESH_TOKEN"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_REFRESH_TOKEN"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "SCOPES"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of SCOPES"
                                  }
                                }
                              }
                            ]
                          }
                        }
                      },
                      "packageName": {
                        "type": "string",
                        "description": "@microfox/reddit"
                      }
                    },
                    "required": [
                      "arguments"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The unique identifier of the user"
                    },
                    "username": {
                      "type": "string",
                      "description": "The username of the user"
                    },
                    "email": {
                      "type": "string",
                      "format": "email",
                      "description": "The email address of the user"
                    },
                    "name": {
                      "type": "string",
                      "description": "The full name of the user"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The timestamp when the user account was created"
                    }
                  },
                  "required": [
                    "id",
                    "username",
                    "email"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message describing the bad request"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message describing the server error"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/getUserPreferences": {
      "post": {
        "operationId": "getUserPreferences",
        "summary": "Retrieves the preferences of the currently authenticated user.",
        "description": "This function fetches the user's preferences for the currently authenticated user. It does not require any parameters and returns an object containing various preference settings. The preferences are returned as key-value pairs, where the keys are preference names and the values can be of any type.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "object",
                    "description": "Body of the getUserPreferences sls call",
                    "properties": {
                      "arguments": {
                        "type": "array",
                        "items": []
                      },
                      "auth": {
                        "type": "object",
                        "description": "Authentication object",
                        "properties": {
                          "strategy": {
                            "type": "string",
                            "description": "Authentication strategy",
                            "enum": [
                              "oauth2"
                            ]
                          },
                          "variables": {
                            "type": "array",
                            "description": "Variables for the authentication strategy",
                            "items": [
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_CLIENT_ID"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_CLIENT_ID"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_CLIENT_SECRET"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_CLIENT_SECRET"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_REDIRECT_URI"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_REDIRECT_URI"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_ACCESS_TOKEN"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_ACCESS_TOKEN"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_REFRESH_TOKEN"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_REFRESH_TOKEN"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "SCOPES"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of SCOPES"
                                  }
                                }
                              }
                            ]
                          }
                        }
                      },
                      "packageName": {
                        "type": "string",
                        "description": "@microfox/reddit"
                      }
                    },
                    "required": [
                      "arguments"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "An object containing the user's preferences"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message describing the bad request"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message describing the server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/updateUserPreferences": {
      "post": {
        "operationId": "updateUserPreferences",
        "summary": "Updates the preferences of the currently authenticated user.",
        "description": "This function modifies the user's preferences by accepting a record of new preference settings. It updates the preferences for the authenticated user and returns an object containing the updated preferences.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "object",
                    "description": "Body of the updateUserPreferences sls call",
                    "properties": {
                      "arguments": {
                        "type": "array",
                        "items": [
                          {
                            "type": "object",
                            "properties": {
                              "prefs": {
                                "type": "object",
                                "additionalProperties": true,
                                "description": "An object containing the new preferences"
                              }
                            },
                            "required": [
                              "prefs"
                            ],
                            "description": "Configuration object containing user preferences"
                          }
                        ]
                      },
                      "auth": {
                        "type": "object",
                        "description": "Authentication object",
                        "properties": {
                          "strategy": {
                            "type": "string",
                            "description": "Authentication strategy",
                            "enum": [
                              "oauth2"
                            ]
                          },
                          "variables": {
                            "type": "array",
                            "description": "Variables for the authentication strategy",
                            "items": [
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_CLIENT_ID"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_CLIENT_ID"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_CLIENT_SECRET"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_CLIENT_SECRET"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_REDIRECT_URI"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_REDIRECT_URI"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_ACCESS_TOKEN"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_ACCESS_TOKEN"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_REFRESH_TOKEN"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_REFRESH_TOKEN"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "SCOPES"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of SCOPES"
                                  }
                                }
                              }
                            ]
                          }
                        }
                      },
                      "packageName": {
                        "type": "string",
                        "description": "@microfox/reddit"
                      }
                    },
                    "required": [
                      "arguments"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with updated user preferences",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "An object containing the updated preferences"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message describing the issue with the request"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message indicating a server-side issue"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getUserKarma": {
      "post": {
        "operationId": "getUserKarma",
        "summary": "Retrieves the karma breakdown for the currently authenticated user.",
        "description": "This function fetches the user's karma information, including both link and comment karma. It requires no input parameters and returns an object containing the karma breakdown for the authenticated user. The function is useful for applications that need to display or analyze a user's Reddit karma statistics.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "object",
                    "description": "Body of the getUserKarma sls call",
                    "properties": {
                      "arguments": {
                        "type": "array",
                        "items": []
                      },
                      "auth": {
                        "type": "object",
                        "description": "Authentication object",
                        "properties": {
                          "strategy": {
                            "type": "string",
                            "description": "Authentication strategy",
                            "enum": [
                              "oauth2"
                            ]
                          },
                          "variables": {
                            "type": "array",
                            "description": "Variables for the authentication strategy",
                            "items": [
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_CLIENT_ID"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_CLIENT_ID"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_CLIENT_SECRET"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_CLIENT_SECRET"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_REDIRECT_URI"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_REDIRECT_URI"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_ACCESS_TOKEN"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_ACCESS_TOKEN"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_REFRESH_TOKEN"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_REFRESH_TOKEN"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "SCOPES"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of SCOPES"
                                  }
                                }
                              }
                            ]
                          }
                        }
                      },
                      "packageName": {
                        "type": "string",
                        "description": "@microfox/reddit"
                      }
                    },
                    "required": [
                      "arguments"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object",
                    "properties": {
                      "link_karma": {
                        "type": "number",
                        "description": "The user's karma from submitted links"
                      },
                      "comment_karma": {
                        "type": "number",
                        "description": "The user's karma from comments"
                      }
                    },
                    "required": [
                      "link_karma",
                      "comment_karma"
                    ]
                  },
                  "description": "An object containing the user's karma breakdown"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message describing the bad request"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message describing the server error"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/getUserTrophies": {
      "post": {
        "operationId": "getUserTrophies",
        "summary": "Retrieves the trophies for the currently authenticated user.",
        "description": "This function fetches the user's trophies for the currently authenticated user. It does not require any parameters and returns an object representing the user's trophies. The function is useful for displaying a user's achievements or rewards within an application.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "object",
                    "description": "Body of the getUserTrophies sls call",
                    "properties": {
                      "arguments": {
                        "type": "array",
                        "items": []
                      },
                      "auth": {
                        "type": "object",
                        "description": "Authentication object",
                        "properties": {
                          "strategy": {
                            "type": "string",
                            "description": "Authentication strategy",
                            "enum": [
                              "oauth2"
                            ]
                          },
                          "variables": {
                            "type": "array",
                            "description": "Variables for the authentication strategy",
                            "items": [
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_CLIENT_ID"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_CLIENT_ID"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_CLIENT_SECRET"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_CLIENT_SECRET"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_REDIRECT_URI"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_REDIRECT_URI"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_ACCESS_TOKEN"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_ACCESS_TOKEN"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_REFRESH_TOKEN"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_REFRESH_TOKEN"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "SCOPES"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of SCOPES"
                                  }
                                }
                              }
                            ]
                          }
                        }
                      },
                      "packageName": {
                        "type": "string",
                        "description": "@microfox/reddit"
                      }
                    },
                    "required": [
                      "arguments"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "An object representing the user's trophies",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message describing the bad request"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message describing the server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getUser": {
      "post": {
        "operationId": "getUser",
        "summary": "Retrieves information about a specific user.",
        "description": "This function fetches user data for a specified username. It takes a single parameter 'username' and returns an object containing the user's information. The function is useful for obtaining detailed user data in applications that require user management or profile display.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "object",
                    "description": "Body of the getUser sls call",
                    "properties": {
                      "arguments": {
                        "type": "array",
                        "items": [
                          {
                            "type": "string",
                            "description": "The username of the user to retrieve."
                          }
                        ]
                      },
                      "auth": {
                        "type": "object",
                        "description": "Authentication object",
                        "properties": {
                          "strategy": {
                            "type": "string",
                            "description": "Authentication strategy",
                            "enum": [
                              "oauth2"
                            ]
                          },
                          "variables": {
                            "type": "array",
                            "description": "Variables for the authentication strategy",
                            "items": [
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_CLIENT_ID"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_CLIENT_ID"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_CLIENT_SECRET"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_CLIENT_SECRET"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_REDIRECT_URI"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_REDIRECT_URI"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_ACCESS_TOKEN"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_ACCESS_TOKEN"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_REFRESH_TOKEN"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_REFRESH_TOKEN"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "SCOPES"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of SCOPES"
                                  }
                                }
                              }
                            ]
                          }
                        }
                      },
                      "packageName": {
                        "type": "string",
                        "description": "@microfox/reddit"
                      }
                    },
                    "required": [
                      "arguments"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "username": {
                      "type": "string",
                      "description": "The username of the retrieved user"
                    },
                    "id": {
                      "type": "string",
                      "description": "Unique identifier for the user"
                    },
                    "email": {
                      "type": "string",
                      "format": "email",
                      "description": "Email address of the user"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp of when the user account was created"
                    }
                  },
                  "required": [
                    "username",
                    "id"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid username provided",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message describing the issue"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message indicating a server-side issue"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getUserContent": {
      "post": {
        "operationId": "getUserContent",
        "summary": "Retrieves content (posts and comments) submitted by a specific user.",
        "description": "The getUserContent function fetches user-generated content from various sections of a user's profile. It allows for retrieval of posts, comments, and other user activities based on the specified section. The function also supports optional parameters for filtering and pagination of the results.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "object",
                    "description": "Body of the getUserContent sls call",
                    "properties": {
                      "arguments": {
                        "type": "array",
                        "items": [
                          {
                            "type": "string",
                            "description": "The username of the user whose content to retrieve."
                          },
                          {
                            "type": "string",
                            "enum": [
                              "overview",
                              "submitted",
                              "comments",
                              "upvoted",
                              "downvoted",
                              "hidden",
                              "saved",
                              "gilded"
                            ],
                            "description": "The section of content to retrieve."
                          },
                          {
                            "type": "object",
                            "description": "Optional parameters for filtering and sorting the results.",
                            "properties": {
                              "after": {
                                "type": "string",
                                "description": "The full name of a thing to fetch after."
                              },
                              "before": {
                                "type": "string",
                                "description": "The full name of a thing to fetch before."
                              },
                              "count": {
                                "type": "number",
                                "description": "The number of items already seen in this listing. Starts at 0."
                              },
                              "limit": {
                                "type": "number",
                                "description": "The maximum number of items to return in this slice of the listing."
                              },
                              "show": {
                                "type": "string",
                                "description": "Show specific content (e.g., 'all', 'given')."
                              },
                              "sr_detail": {
                                "type": "string",
                                "description": "Expand subreddit information."
                              }
                            }
                          }
                        ]
                      },
                      "auth": {
                        "type": "object",
                        "description": "Authentication object",
                        "properties": {
                          "strategy": {
                            "type": "string",
                            "description": "Authentication strategy",
                            "enum": [
                              "oauth2"
                            ]
                          },
                          "variables": {
                            "type": "array",
                            "description": "Variables for the authentication strategy",
                            "items": [
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_CLIENT_ID"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_CLIENT_ID"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_CLIENT_SECRET"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_CLIENT_SECRET"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_REDIRECT_URI"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_REDIRECT_URI"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_ACCESS_TOKEN"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_ACCESS_TOKEN"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_REFRESH_TOKEN"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_REFRESH_TOKEN"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "SCOPES"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of SCOPES"
                                  }
                                }
                              }
                            ]
                          }
                        }
                      },
                      "packageName": {
                        "type": "string",
                        "description": "@microfox/reddit"
                      }
                    },
                    "required": [
                      "arguments"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "oneOf": [
                      {
                        "type": "object",
                        "description": "Post object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "content": {
                            "type": "string"
                          }
                        }
                      },
                      {
                        "type": "object",
                        "description": "Comment object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "text": {
                            "type": "string"
                          },
                          "parentId": {
                            "type": "string"
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getSubredditInfo": {
      "post": {
        "operationId": "getSubredditInfo",
        "summary": "Retrieves information about a specific subreddit.",
        "description": "This function fetches detailed information about a given subreddit. It takes the subreddit name as input and returns an object containing various details about the subreddit. This can be useful for applications that need to display or analyze subreddit information.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "object",
                    "description": "Body of the getSubredditInfo sls call",
                    "properties": {
                      "arguments": {
                        "type": "array",
                        "items": [
                          {
                            "type": "string",
                            "description": "The name of the subreddit to retrieve information for"
                          }
                        ]
                      },
                      "auth": {
                        "type": "object",
                        "description": "Authentication object",
                        "properties": {
                          "strategy": {
                            "type": "string",
                            "description": "Authentication strategy",
                            "enum": [
                              "oauth2"
                            ]
                          },
                          "variables": {
                            "type": "array",
                            "description": "Variables for the authentication strategy",
                            "items": [
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_CLIENT_ID"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_CLIENT_ID"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_CLIENT_SECRET"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_CLIENT_SECRET"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_REDIRECT_URI"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_REDIRECT_URI"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_ACCESS_TOKEN"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_ACCESS_TOKEN"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_REFRESH_TOKEN"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_REFRESH_TOKEN"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "SCOPES"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of SCOPES"
                                  }
                                }
                              }
                            ]
                          }
                        }
                      },
                      "packageName": {
                        "type": "string",
                        "description": "@microfox/reddit"
                      }
                    },
                    "required": [
                      "arguments"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "The name of the subreddit"
                    },
                    "title": {
                      "type": "string",
                      "description": "The title of the subreddit"
                    },
                    "description": {
                      "type": "string",
                      "description": "The description of the subreddit"
                    },
                    "subscribers": {
                      "type": "integer",
                      "description": "The number of subscribers to the subreddit"
                    },
                    "created_utc": {
                      "type": "number",
                      "description": "The creation date of the subreddit in UTC timestamp"
                    },
                    "public_description": {
                      "type": "string",
                      "description": "The public description of the subreddit"
                    },
                    "over18": {
                      "type": "boolean",
                      "description": "Whether the subreddit is marked as NSFW (Not Safe For Work)"
                    }
                  },
                  "required": [
                    "name",
                    "title",
                    "subscribers"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid subreddit name",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message describing the issue"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message describing the server error"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/searchSubreddit": {
      "post": {
        "operationId": "searchSubreddit",
        "summary": "Searches for posts and other content within a specific subreddit.",
        "description": "The searchSubreddit function allows users to search for content within a specified subreddit using a given query. It provides optional parameters for filtering and sorting the results, including time period, sorting method, and pagination options. The function returns an array of search results matching the specified criteria.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "object",
                    "description": "Body of the searchSubreddit sls call",
                    "properties": {
                      "arguments": {
                        "type": "array",
                        "items": [
                          {
                            "type": "string",
                            "description": "The name of the subreddit to search within"
                          },
                          {
                            "type": "string",
                            "description": "The search query"
                          },
                          {
                            "type": "object",
                            "description": "Optional parameters for filtering and sorting the results",
                            "properties": {
                              "after": {
                                "type": "string",
                                "description": "The full name of a thing to fetch after"
                              },
                              "before": {
                                "type": "string",
                                "description": "The full name of a thing to fetch before"
                              },
                              "count": {
                                "type": "number",
                                "description": "The number of items already seen in this listing. Starts at 0"
                              },
                              "limit": {
                                "type": "number",
                                "description": "The maximum number of items to return in this slice of the listing"
                              },
                              "show": {
                                "type": "string",
                                "description": "Show specific content (e.g., 'all', 'given')"
                              },
                              "sr_detail": {
                                "type": "string",
                                "description": "Expand subreddit information"
                              },
                              "sort": {
                                "type": "string",
                                "enum": [
                                  "relevance",
                                  "hot",
                                  "top",
                                  "new",
                                  "comments"
                                ],
                                "description": "The sorting method for the search results"
                              },
                              "t": {
                                "type": "string",
                                "enum": [
                                  "hour",
                                  "day",
                                  "week",
                                  "month",
                                  "year",
                                  "all"
                                ],
                                "description": "The time period to search within"
                              }
                            }
                          }
                        ]
                      },
                      "auth": {
                        "type": "object",
                        "description": "Authentication object",
                        "properties": {
                          "strategy": {
                            "type": "string",
                            "description": "Authentication strategy",
                            "enum": [
                              "oauth2"
                            ]
                          },
                          "variables": {
                            "type": "array",
                            "description": "Variables for the authentication strategy",
                            "items": [
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_CLIENT_ID"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_CLIENT_ID"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_CLIENT_SECRET"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_CLIENT_SECRET"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_REDIRECT_URI"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_REDIRECT_URI"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_ACCESS_TOKEN"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_ACCESS_TOKEN"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_REFRESH_TOKEN"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_REFRESH_TOKEN"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "SCOPES"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of SCOPES"
                                  }
                                }
                              }
                            ]
                          }
                        }
                      },
                      "packageName": {
                        "type": "string",
                        "description": "@microfox/reddit"
                      }
                    },
                    "required": [
                      "arguments"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful search operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "description": "SearchResult",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Unique identifier of the search result"
                      },
                      "title": {
                        "type": "string",
                        "description": "Title of the post or content"
                      },
                      "author": {
                        "type": "string",
                        "description": "Author of the post or content"
                      },
                      "created_utc": {
                        "type": "number",
                        "description": "Creation timestamp in UTC"
                      },
                      "score": {
                        "type": "number",
                        "description": "Score or upvotes of the post or content"
                      },
                      "url": {
                        "type": "string",
                        "description": "URL of the post or content"
                      },
                      "num_comments": {
                        "type": "number",
                        "description": "Number of comments on the post"
                      },
                      "subreddit": {
                        "type": "string",
                        "description": "Name of the subreddit"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message describing the issue with the request"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message describing the internal server issue"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/search": {
      "post": {
        "operationId": "search",
        "summary": "Search across all of Reddit for posts and other content.",
        "description": "This function allows users to search for posts and other content across all subreddits on Reddit. It provides options for filtering and sorting the search results, including parameters for pagination, sorting methods, and time periods. The function returns an array of search results matching the given query and optional parameters.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "object",
                    "description": "Body of the search sls call",
                    "properties": {
                      "arguments": {
                        "type": "array",
                        "items": [
                          {
                            "type": "string",
                            "description": "The search query"
                          },
                          {
                            "type": "object",
                            "description": "Optional parameters for filtering and sorting the results",
                            "properties": {
                              "after": {
                                "type": "string",
                                "description": "The full name of a thing to fetch after"
                              },
                              "before": {
                                "type": "string",
                                "description": "The full name of a thing to fetch before"
                              },
                              "count": {
                                "type": "number",
                                "description": "The number of items already seen in this listing. Starts at 0"
                              },
                              "limit": {
                                "type": "number",
                                "description": "The maximum number of items to return in this slice of the listing"
                              },
                              "show": {
                                "type": "string",
                                "description": "Show specific content (e.g., 'all', 'given')"
                              },
                              "sr_detail": {
                                "type": "string",
                                "description": "Expand subreddit information"
                              },
                              "sort": {
                                "type": "string",
                                "enum": [
                                  "relevance",
                                  "hot",
                                  "top",
                                  "new",
                                  "comments"
                                ],
                                "description": "The sorting method for the search results"
                              },
                              "t": {
                                "type": "string",
                                "enum": [
                                  "hour",
                                  "day",
                                  "week",
                                  "month",
                                  "year",
                                  "all"
                                ],
                                "description": "The time period to search within"
                              }
                            }
                          }
                        ]
                      },
                      "auth": {
                        "type": "object",
                        "description": "Authentication object",
                        "properties": {
                          "strategy": {
                            "type": "string",
                            "description": "Authentication strategy",
                            "enum": [
                              "oauth2"
                            ]
                          },
                          "variables": {
                            "type": "array",
                            "description": "Variables for the authentication strategy",
                            "items": [
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_CLIENT_ID"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_CLIENT_ID"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_CLIENT_SECRET"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_CLIENT_SECRET"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_REDIRECT_URI"
[...]
