{
  "openapi": "3.0.1",
  "info": {
    "title": "Reddit TypeScript SDK API",
    "version": "1.0.0",
    "description": "Single entry-point API for all Reddit TypeScript SDK functions via a wrapper Lambda",
    "contact": {
      "name": "Microfox Dev Support",
      "email": "support@microfox.com"
    }
  },
  "servers": [
    {
      "url": "https://api.microfox.com/c/reddit",
      "description": "Unified wrapper endpoint"
    }
  ],
  "paths": {
    "/validateAccessToken": {
      "post": {
        "operationId": "validateAccessToken",
        "summary": "Validates the current access token.",
        "description": "This function checks if the current access token is valid. It performs a validation check on the access token associated with the current session or user. The function returns a boolean value indicating the token's validity.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "object",
                    "description": "Body of the validateAccessToken sls call",
                    "properties": {
                      "arguments": {
                        "type": "array",
                        "items": []
                      },
                      "auth": {
                        "type": "object",
                        "description": "Authentication object",
                        "properties": {
                          "strategy": {
                            "type": "string",
                            "description": "Authentication strategy",
                            "enum": [
                              "oauth2"
                            ]
                          },
                          "variables": {
                            "type": "array",
                            "description": "Variables for the authentication strategy",
                            "items": [
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_CLIENT_ID"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_CLIENT_ID"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_CLIENT_SECRET"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_CLIENT_SECRET"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_REDIRECT_URI"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_REDIRECT_URI"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_ACCESS_TOKEN"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_ACCESS_TOKEN"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_REFRESH_TOKEN"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_REFRESH_TOKEN"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "SCOPES"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of SCOPES"
                                  }
                                }
                              }
                            ]
                          }
                        }
                      },
                      "packageName": {
                        "type": "string",
                        "description": "@microfox/reddit"
                      }
                    },
                    "required": [
                      "arguments"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isValid": {
                      "type": "boolean",
                      "description": "Indicates whether the access token is valid"
                    }
                  },
                  "required": [
                    "isValid"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - No valid access token provided",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/refreshAccessToken": {
      "post": {
        "operationId": "refreshAccessToken",
        "summary": "Refreshes the access token using a refresh token.",
        "description": "This function obtains a new access token using the provided refresh token. It is typically used when the current access token has expired or is about to expire, allowing continued access to protected resources without requiring the user to re-authenticate.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "object",
                    "description": "Body of the refreshAccessToken sls call",
                    "properties": {
                      "arguments": {
                        "type": "array",
                        "items": [
                          {
                            "type": "string",
                            "description": "The refresh token obtained during initial authorization.",
                            "name": "refreshToken"
                          }
                        ]
                      },
                      "auth": {
                        "type": "object",
                        "description": "Authentication object",
                        "properties": {
                          "strategy": {
                            "type": "string",
                            "description": "Authentication strategy",
                            "enum": [
                              "oauth2"
                            ]
                          },
                          "variables": {
                            "type": "array",
                            "description": "Variables for the authentication strategy",
                            "items": [
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_CLIENT_ID"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_CLIENT_ID"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_CLIENT_SECRET"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_CLIENT_SECRET"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_REDIRECT_URI"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_REDIRECT_URI"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_ACCESS_TOKEN"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_ACCESS_TOKEN"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_REFRESH_TOKEN"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_REFRESH_TOKEN"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "SCOPES"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of SCOPES"
                                  }
                                }
                              }
                            ]
                          }
                        }
                      },
                      "packageName": {
                        "type": "string",
                        "description": "@microfox/reddit"
                      }
                    },
                    "required": [
                      "arguments"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully refreshed access token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accessToken": {
                      "type": "string",
                      "description": "The new access token"
                    },
                    "expiresIn": {
                      "type": "integer",
                      "description": "The number of seconds until the new access token expires"
                    }
                  },
                  "required": [
                    "accessToken",
                    "expiresIn"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid refresh token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - refresh token has expired or is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/getMe": {
      "post": {
        "operationId": "getMe",
        "summary": "Retrieves information about the currently authenticated user.",
        "description": "This function fetches the user data for the authenticated user. It requires no parameters and returns an object containing the user's information. This is useful for getting details about the current user's account, profile, or session.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "object",
                    "description": "Body of the getMe sls call",
                    "properties": {
                      "arguments": {
                        "type": "array",
                        "items": []
                      },
                      "auth": {
                        "type": "object",
                        "description": "Authentication object",
                        "properties": {
                          "strategy": {
                            "type": "string",
                            "description": "Authentication strategy",
                            "enum": [
                              "oauth2"
                            ]
                          },
                          "variables": {
                            "type": "array",
                            "description": "Variables for the authentication strategy",
                            "items": [
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_CLIENT_ID"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_CLIENT_ID"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_CLIENT_SECRET"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_CLIENT_SECRET"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_REDIRECT_URI"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_REDIRECT_URI"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_ACCESS_TOKEN"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_ACCESS_TOKEN"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_REFRESH_TOKEN"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_REFRESH_TOKEN"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "SCOPES"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of SCOPES"
                                  }
                                }
                              }
                            ]
                          }
                        }
                      },
                      "packageName": {
                        "type": "string",
                        "description": "@microfox/reddit"
                      }
                    },
                    "required": [
                      "arguments"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The unique identifier of the user"
                    },
                    "username": {
                      "type": "string",
                      "description": "The username of the user"
                    },
                    "email": {
                      "type": "string",
                      "format": "email",
                      "description": "The email address of the user"
                    },
                    "name": {
                      "type": "string",
                      "description": "The full name of the user"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The timestamp when the user account was created"
                    }
                  },
                  "required": [
                    "id",
                    "username",
                    "email"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - User is not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Authentication required"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getUserPreferences": {
      "post": {
        "operationId": "getUserPreferences",
        "summary": "Retrieves the preferences of the currently authenticated user.",
        "description": "This function fetches the user's preferences without requiring any input parameters. It returns an object containing various preference settings for the authenticated user. The function is useful for personalizing the user experience or applying user-specific configurations in the application.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "object",
                    "description": "Body of the getUserPreferences sls call",
                    "properties": {
                      "arguments": {
                        "type": "array",
                        "items": []
                      },
                      "auth": {
                        "type": "object",
                        "description": "Authentication object",
                        "properties": {
                          "strategy": {
                            "type": "string",
                            "description": "Authentication strategy",
                            "enum": [
                              "oauth2"
                            ]
                          },
                          "variables": {
                            "type": "array",
                            "description": "Variables for the authentication strategy",
                            "items": [
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_CLIENT_ID"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_CLIENT_ID"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_CLIENT_SECRET"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_CLIENT_SECRET"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_REDIRECT_URI"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_REDIRECT_URI"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_ACCESS_TOKEN"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_ACCESS_TOKEN"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_REFRESH_TOKEN"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_REFRESH_TOKEN"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "SCOPES"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of SCOPES"
                                  }
                                }
                              }
                            ]
                          }
                        }
                      },
                      "packageName": {
                        "type": "string",
                        "description": "@microfox/reddit"
                      }
                    },
                    "required": [
                      "arguments"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with user preferences",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "An object containing the user's preferences"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - User is not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Authentication required"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/updateUserPreferences": {
      "post": {
        "operationId": "updateUserPreferences",
        "summary": "Updates the preferences of the currently authenticated user.",
        "description": "This function modifies the user's preferences by accepting a record of new preference settings. It allows users to customize their experience by updating various preference options. The function returns an object containing the updated preferences after the changes have been applied.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "object",
                    "description": "Body of the updateUserPreferences sls call",
                    "properties": {
                      "arguments": {
                        "type": "array",
                        "items": [
                          {
                            "type": "object",
                            "description": "An object containing the new preferences",
                            "properties": {
                              "prefs": {
                                "type": "object",
                                "additionalProperties": {
                                  "type": "unknown"
                                },
                                "description": "Record of preference key-value pairs"
                              }
                            },
                            "required": [
                              "prefs"
                            ]
                          }
                        ]
                      },
                      "auth": {
                        "type": "object",
                        "description": "Authentication object",
                        "properties": {
                          "strategy": {
                            "type": "string",
                            "description": "Authentication strategy",
                            "enum": [
                              "oauth2"
                            ]
                          },
                          "variables": {
                            "type": "array",
                            "description": "Variables for the authentication strategy",
                            "items": [
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_CLIENT_ID"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_CLIENT_ID"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_CLIENT_SECRET"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_CLIENT_SECRET"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_REDIRECT_URI"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_REDIRECT_URI"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_ACCESS_TOKEN"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_ACCESS_TOKEN"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_REFRESH_TOKEN"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_REFRESH_TOKEN"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "SCOPES"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of SCOPES"
                                  }
                                }
                              }
                            ]
                          }
                        }
                      },
                      "packageName": {
                        "type": "string",
                        "description": "@microfox/reddit"
                      }
                    },
                    "required": [
                      "arguments"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with updated preferences",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "unknown"
                  },
                  "description": "Record containing the updated preferences"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message describing the issue with the request"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - user not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message indicating authentication failure"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message describing the internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getUserKarma": {
      "post": {
        "operationId": "getUserKarma",
        "summary": "Retrieves the karma breakdown for the currently authenticated user.",
        "description": "This function fetches the user's karma information, including both link and comment karma. It returns a record object containing the karma breakdown for the authenticated user. No parameters are required as it uses the current authentication context.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "object",
                    "description": "Body of the getUserKarma sls call",
                    "properties": {
                      "arguments": {
                        "type": "array",
                        "items": []
                      },
                      "auth": {
                        "type": "object",
                        "description": "Authentication object",
                        "properties": {
                          "strategy": {
                            "type": "string",
                            "description": "Authentication strategy",
                            "enum": [
                              "oauth2"
                            ]
                          },
                          "variables": {
                            "type": "array",
                            "description": "Variables for the authentication strategy",
                            "items": [
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_CLIENT_ID"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_CLIENT_ID"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_CLIENT_SECRET"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_CLIENT_SECRET"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_REDIRECT_URI"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_REDIRECT_URI"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_ACCESS_TOKEN"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_ACCESS_TOKEN"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_REFRESH_TOKEN"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_REFRESH_TOKEN"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "SCOPES"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of SCOPES"
                                  }
                                }
                              }
                            ]
                          }
                        }
                      },
                      "packageName": {
                        "type": "string",
                        "description": "@microfox/reddit"
                      }
                    },
                    "required": [
                      "arguments"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with user's karma breakdown",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object",
                    "properties": {
                      "link_karma": {
                        "type": "number",
                        "description": "The user's karma from submitted links"
                      },
                      "comment_karma": {
                        "type": "number",
                        "description": "The user's karma from submitted comments"
                      }
                    },
                    "required": [
                      "link_karma",
                      "comment_karma"
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - User is not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Authentication required"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "An unexpected error occurred"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getUserTrophies": {
      "post": {
        "operationId": "getUserTrophies",
        "summary": "Retrieves the trophies for the currently authenticated user.",
        "description": "This function fetches the trophies associated with the authenticated user's account. It does not require any input parameters and returns an object representing the user's trophies. The function is useful for displaying a user's achievements or rewards within an application.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "object",
                    "description": "Body of the getUserTrophies sls call",
                    "properties": {
                      "arguments": {
                        "type": "array",
                        "items": []
                      },
                      "auth": {
                        "type": "object",
                        "description": "Authentication object",
                        "properties": {
                          "strategy": {
                            "type": "string",
                            "description": "Authentication strategy",
                            "enum": [
                              "oauth2"
                            ]
                          },
                          "variables": {
                            "type": "array",
                            "description": "Variables for the authentication strategy",
                            "items": [
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_CLIENT_ID"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_CLIENT_ID"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_CLIENT_SECRET"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_CLIENT_SECRET"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_REDIRECT_URI"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_REDIRECT_URI"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_ACCESS_TOKEN"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_ACCESS_TOKEN"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_REFRESH_TOKEN"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_REFRESH_TOKEN"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "SCOPES"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of SCOPES"
                                  }
                                }
                              }
                            ]
                          }
                        }
                      },
                      "packageName": {
                        "type": "string",
                        "description": "@microfox/reddit"
                      }
                    },
                    "required": [
                      "arguments"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response containing the user's trophies",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "An object representing the user's trophies",
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Client error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid request"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - User is not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Authentication required"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Internal server error occurred"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getUser": {
      "post": {
        "operationId": "getUser",
        "summary": "Retrieves information about a specific user.",
        "description": "This function fetches user data for a specified username. It allows retrieving detailed information about a user account. The function takes a single parameter, the username, and returns an object containing the user's information.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "object",
                    "description": "Body of the getUser sls call",
                    "properties": {
                      "arguments": {
                        "type": "array",
                        "items": [
                          {
                            "type": "string",
                            "description": "The username of the user to retrieve."
                          }
                        ]
                      },
                      "auth": {
                        "type": "object",
                        "description": "Authentication object",
                        "properties": {
                          "strategy": {
                            "type": "string",
                            "description": "Authentication strategy",
                            "enum": [
                              "oauth2"
                            ]
                          },
                          "variables": {
                            "type": "array",
                            "description": "Variables for the authentication strategy",
                            "items": [
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_CLIENT_ID"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_CLIENT_ID"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_CLIENT_SECRET"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_CLIENT_SECRET"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_REDIRECT_URI"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_REDIRECT_URI"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_ACCESS_TOKEN"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_ACCESS_TOKEN"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_REFRESH_TOKEN"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_REFRESH_TOKEN"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "SCOPES"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of SCOPES"
                                  }
                                }
                              }
                            ]
                          }
                        }
                      },
                      "packageName": {
                        "type": "string",
                        "description": "@microfox/reddit"
                      }
                    },
                    "required": [
                      "arguments"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "username": {
                      "type": "string",
                      "description": "The username of the user"
                    },
                    "id": {
                      "type": "string",
                      "description": "Unique identifier for the user"
                    },
                    "email": {
                      "type": "string",
                      "format": "email",
                      "description": "Email address of the user"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Timestamp of when the user account was created"
                    }
                  },
                  "required": [
                    "username",
                    "id"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid username format",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message describing the issue"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found - User not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message indicating user not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message describing the internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getUserContent": {
      "post": {
        "operationId": "getUserContent",
        "summary": "Retrieves content (posts and comments) submitted by a specific user.",
        "description": "This function fetches user-generated content, including posts and comments, based on the specified section. It allows for filtering and sorting of results through optional parameters, providing flexibility in content retrieval. The function returns an array of posts and comments submitted by the user, enabling detailed analysis of a user's Reddit activity.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "object",
                    "description": "Body of the getUserContent sls call",
                    "properties": {
                      "arguments": {
                        "type": "array",
                        "items": [
                          {
                            "type": "string",
                            "description": "The username of the user whose content to retrieve."
                          },
                          {
                            "type": "string",
                            "enum": [
                              "overview",
                              "submitted",
                              "comments",
                              "upvoted",
                              "downvoted",
                              "hidden",
                              "saved",
                              "gilded"
                            ],
                            "description": "The section of content to retrieve."
                          },
                          {
                            "type": "object",
                            "description": "Optional parameters for filtering and sorting the results.",
                            "properties": {
                              "after": {
                                "type": "string",
                                "description": "The full name of a thing to fetch after."
                              },
                              "before": {
                                "type": "string",
                                "description": "The full name of a thing to fetch before."
                              },
                              "count": {
                                "type": "integer",
                                "description": "The number of items already seen in this listing. Starts at 0."
                              },
                              "limit": {
                                "type": "integer",
                                "description": "The maximum number of items to return in this slice of the listing."
                              },
                              "show": {
                                "type": "string",
                                "description": "Show specific content (e.g., 'all', 'given')."
                              },
                              "sr_detail": {
                                "type": "string",
                                "description": "Expand subreddit information."
                              }
                            }
                          }
                        ]
                      },
                      "auth": {
                        "type": "object",
                        "description": "Authentication object",
                        "properties": {
                          "strategy": {
                            "type": "string",
                            "description": "Authentication strategy",
                            "enum": [
                              "oauth2"
                            ]
                          },
                          "variables": {
                            "type": "array",
                            "description": "Variables for the authentication strategy",
                            "items": [
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_CLIENT_ID"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_CLIENT_ID"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_CLIENT_SECRET"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_CLIENT_SECRET"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_REDIRECT_URI"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_REDIRECT_URI"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_ACCESS_TOKEN"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_ACCESS_TOKEN"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_REFRESH_TOKEN"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_REFRESH_TOKEN"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "SCOPES"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of SCOPES"
                                  }
                                }
                              }
                            ]
                          }
                        }
                      },
                      "packageName": {
                        "type": "string",
                        "description": "@microfox/reddit"
                      }
                    },
                    "required": [
                      "arguments"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "oneOf": [
                      {
                        "type": "object",
                        "description": "A Reddit post",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "content": {
                            "type": "string"
                          },
                          "subreddit": {
                            "type": "string"
                          },
                          "created_utc": {
                            "type": "number"
                          }
                        }
                      },
                      {
                        "type": "object",
                        "description": "A Reddit comment",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "body": {
                            "type": "string"
                          },
                          "post_id": {
                            "type": "string"
                          },
                          "subreddit": {
                            "type": "string"
                          },
                          "created_utc": {
                            "type": "number"
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getSubredditInfo": {
      "post": {
        "operationId": "getSubredditInfo",
        "summary": "Retrieves information about a specific subreddit.",
        "description": "This function fetches detailed information about a given subreddit. It takes the subreddit name as input and returns an object containing various details about the subreddit. This can be useful for applications that need to display or analyze subreddit information.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "object",
                    "description": "Body of the getSubredditInfo sls call",
                    "properties": {
                      "arguments": {
                        "type": "array",
                        "items": [
                          {
                            "type": "string",
                            "description": "The name of the subreddit to retrieve information for",
                            "example": "AskReddit"
                          }
                        ]
                      },
                      "auth": {
                        "type": "object",
                        "description": "Authentication object",
                        "properties": {
                          "strategy": {
                            "type": "string",
                            "description": "Authentication strategy",
                            "enum": [
                              "oauth2"
                            ]
                          },
                          "variables": {
                            "type": "array",
                            "description": "Variables for the authentication strategy",
                            "items": [
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_CLIENT_ID"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_CLIENT_ID"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_CLIENT_SECRET"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_CLIENT_SECRET"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_REDIRECT_URI"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_REDIRECT_URI"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_ACCESS_TOKEN"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_ACCESS_TOKEN"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_REFRESH_TOKEN"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_REFRESH_TOKEN"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "SCOPES"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of SCOPES"
                                  }
                                }
                              }
                            ]
                          }
                        }
                      },
                      "packageName": {
                        "type": "string",
                        "description": "@microfox/reddit"
                      }
                    },
                    "required": [
                      "arguments"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with subreddit information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "The name of the subreddit"
                    },
                    "title": {
                      "type": "string",
                      "description": "The title of the subreddit"
                    },
                    "description": {
                      "type": "string",
                      "description": "The description of the subreddit"
                    },
                    "subscribers": {
                      "type": "integer",
                      "description": "The number of subscribers to the subreddit"
                    },
                    "created_utc": {
                      "type": "number",
                      "description": "The creation date of the subreddit in Unix timestamp format"
                    },
                    "public_description": {
                      "type": "string",
                      "description": "The public description of the subreddit"
                    },
                    "over18": {
                      "type": "boolean",
                      "description": "Whether the subreddit is marked as NSFW (Not Safe For Work)"
                    }
                  },
                  "required": [
                    "name",
                    "title",
                    "subscribers"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid subreddit name",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message describing the issue"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Subreddit not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message indicating the subreddit was not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message describing the internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/searchSubreddit": {
      "post": {
        "operationId": "searchSubreddit",
        "summary": "Search for posts and content within a specific subreddit.",
        "description": "This function allows users to search for posts and other content within a specified subreddit. It provides various parameters for filtering and sorting the search results, including options for time period, sorting method, and pagination.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "object",
                    "description": "Body of the searchSubreddit sls call",
                    "properties": {
                      "arguments": {
                        "type": "array",
                        "items": [
                          {
                            "type": "string",
                            "description": "The name of the subreddit to search within."
                          },
                          {
                            "type": "string",
                            "description": "The search query."
                          },
                          {
                            "type": "object",
                            "description": "Optional parameters for filtering and sorting the results.",
                            "properties": {
                              "after": {
                                "type": "string",
                                "description": "The full name of a thing to fetch after."
                              },
                              "before": {
                                "type": "string",
                                "description": "The full name of a thing to fetch before."
                              },
                              "count": {
                                "type": "number",
                                "description": "The number of items already seen in this listing. Starts at 0."
                              },
                              "limit": {
                                "type": "number",
                                "description": "The maximum number of items to return in this slice of the listing."
                              },
                              "show": {
                                "type": "string",
                                "description": "Show specific content (e.g., 'all', 'given')."
                              },
                              "sr_detail": {
                                "type": "string",
                                "description": "Expand subreddit information."
                              },
                              "sort": {
                                "type": "string",
                                "enum": [
                                  "relevance",
                                  "hot",
                                  "top",
                                  "new",
                                  "comments"
                                ],
                                "description": "The sorting method for the search results."
                              },
                              "t": {
                                "type": "string",
                                "enum": [
                                  "hour",
                                  "day",
                                  "week",
                                  "month",
                                  "year",
                                  "all"
                                ],
                                "description": "The time period to search within."
                              }
                            }
                          }
                        ]
                      },
                      "auth": {
                        "type": "object",
                        "description": "Authentication object",
                        "properties": {
                          "strategy": {
                            "type": "string",
                            "description": "Authentication strategy",
                            "enum": [
                              "oauth2"
                            ]
                          },
                          "variables": {
                            "type": "array",
                            "description": "Variables for the authentication strategy",
                            "items": [
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_CLIENT_ID"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_CLIENT_ID"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_CLIENT_SECRET"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_CLIENT_SECRET"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_REDIRECT_URI"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_REDIRECT_URI"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_ACCESS_TOKEN"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_ACCESS_TOKEN"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "REDDIT_REFRESH_TOKEN"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of REDDIT_REFRESH_TOKEN"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "SCOPES"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of SCOPES"
                                  }
                                }
                              }
                            ]
                          }
                        }
                      },
                      "packageName": {
                        "type": "string",
                        "description": "@microfox/reddit"
                      }
                    },
                    "required": [
                      "arguments"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Unique identifier of the search result"
                      },
                      "title": {
                        "type": "string",
                        "description": "Title of the post or content"
                      },
                      "author": {
                        "type": "string",
                        "description": "Author of the post or content"
                      },
                      "created_utc": {
                        "type": "number",
                        "description": "Creation timestamp in UTC"
                      },
                      "score": {
                        "type": "number",
                        "description": "Score or upvotes of the post or content"
                      },
                      "url": {
                        "type": "string",
                        "description": "URL of the post or content"
                      },
                      "num_comments": {
                        "type": "number",
                        "description": "Number of comments on the post"
                      },
                      "subreddit": {
                        "type": "string",
                        "description": "Name of the subreddit"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message describing the bad request"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message indicating unauthorized access"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Subreddit not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message indicating the subreddit was not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message describing the internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/search": {
      "post": {
        "operationId": "search",
        "summary": "Search across all of Reddit for posts and other content.",
        "description": "This function allows users to search for content across all subreddits on Reddit. It provides various parameters for filtering and sorting the search results, including options for time periods and content types. The function returns an array of search results matching the specified criteria.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "object",
                    "description": "Body of the search sls call",
                    "properties": {
                      "arguments": {
                        "type": "array",
                        "items": [
                          {
                            "type": "string",
                            "description": "The search query"
                          },
                          {
                            "type": "object",
                            "description": "Optional parameters for filtering and sorting the results",
                            "properties": {
                              "after": {
[...]
