{
  "openapi": "3.0.1",
  "info": {
    "title": "Google Sheets SDK API",
    "version": "1.0.0",
    "mcp_version": "1.0.1",
    "description": "Single entry-point API for all Google Sheets SDK functions via a wrapper Lambda",
    "contact": {
      "name": "Microfox Dev Support",
      "email": "support@microfox.com"
    }
  },
  "servers": [
    {
      "url": "https://api.microfox.com/c/google-sheets",
      "description": "Unified wrapper endpoint"
    }
  ],
  "paths": {
    "/validateAccessToken": {
      "post": {
        "operationId": "validateAccessToken",
        "summary": "Validates and refreshes the access token if necessary.",
        "description": "This function checks the validity of the current access token. If the token is invalid, it attempts to refresh it using the refresh token. The function is useful for maintaining an active session and ensuring API requests have valid authentication.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "object",
                    "description": "Body of the validateAccessToken sls call",
                    "properties": {
                      "arguments": {
                        "type": "array",
                        "items": []
                      },
                      "auth": {
                        "type": "object",
                        "description": "Authentication object",
                        "properties": {
                          "strategy": {
                            "type": "string",
                            "description": "Authentication strategy",
                            "enum": [
                              "oauth2"
                            ]
                          },
                          "variables": {
                            "type": "array",
                            "description": "Variables for the authentication strategy",
                            "items": [
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "GOOGLE_CLIENT_ID"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of GOOGLE_CLIENT_ID"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "GOOGLE_CLIENT_SECRET"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of GOOGLE_CLIENT_SECRET"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "GOOGLE_ACCESS_TOKEN"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of GOOGLE_ACCESS_TOKEN"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "GOOGLE_REFRESH_TOKEN"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of GOOGLE_REFRESH_TOKEN"
                                  }
                                }
                              }
                            ]
                          }
                        }
                      },
                      "packageName": {
                        "type": "string",
                        "description": "@microfox/google-sheets"
                      }
                    },
                    "required": [
                      "arguments"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isValid": {
                      "type": "boolean",
                      "description": "Indicates whether the access token is valid"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input or unable to refresh token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message describing the issue"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Both access token and refresh token are invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message indicating authentication failure"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message describing the server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/refreshAccessToken": {
      "post": {
        "operationId": "refreshAccessToken",
        "summary": "Refreshes the access token using the refresh token.",
        "description": "This function uses the refresh token to obtain a new access token. It is an asynchronous operation that returns a promise, which resolves when the access token has been successfully refreshed. This function is essential for maintaining continuous authentication in long-running applications.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "object",
                    "description": "Body of the refreshAccessToken sls call",
                    "properties": {
                      "arguments": {
                        "type": "array",
                        "items": []
                      },
                      "auth": {
                        "type": "object",
                        "description": "Authentication object",
                        "properties": {
                          "strategy": {
                            "type": "string",
                            "description": "Authentication strategy",
                            "enum": [
                              "oauth2"
                            ]
                          },
                          "variables": {
                            "type": "array",
                            "description": "Variables for the authentication strategy",
                            "items": [
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "GOOGLE_CLIENT_ID"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of GOOGLE_CLIENT_ID"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "GOOGLE_CLIENT_SECRET"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of GOOGLE_CLIENT_SECRET"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "GOOGLE_ACCESS_TOKEN"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of GOOGLE_ACCESS_TOKEN"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "GOOGLE_REFRESH_TOKEN"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of GOOGLE_REFRESH_TOKEN"
                                  }
                                }
                              }
                            ]
                          }
                        }
                      },
                      "packageName": {
                        "type": "string",
                        "description": "@microfox/google-sheets"
                      }
                    },
                    "required": [
                      "arguments"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Access token successfully refreshed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Access token refreshed successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid refresh token or client error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid refresh token"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Refresh token expired or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Refresh token expired"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Internal server error occurred while refreshing token"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getValues": {
      "post": {
        "operationId": "getValues",
        "summary": "Retrieves values from a specified range in a Google Sheet.",
        "description": "This function fetches data from a designated range within a Google Sheet. It requires the sheet ID and the A1 notation of the range as input parameters. The function returns a promise that resolves to a two-dimensional array containing the values from the specified range, or an empty array if the range is empty.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "object",
                    "description": "Body of the getValues sls call",
                    "properties": {
                      "arguments": {
                        "type": "array",
                        "items": [
                          {
                            "type": "object",
                            "description": "Range object specifying the sheet ID and range",
                            "properties": {
                              "sheetId": {
                                "type": "string",
                                "description": "The ID of the sheet"
                              },
                              "range": {
                                "type": "string",
                                "description": "The A1 notation of the range"
                              }
                            },
                            "required": [
                              "sheetId",
                              "range"
                            ]
                          }
                        ]
                      },
                      "auth": {
                        "type": "object",
                        "description": "Authentication object",
                        "properties": {
                          "strategy": {
                            "type": "string",
                            "description": "Authentication strategy",
                            "enum": [
                              "oauth2"
                            ]
                          },
                          "variables": {
                            "type": "array",
                            "description": "Variables for the authentication strategy",
                            "items": [
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "GOOGLE_CLIENT_ID"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of GOOGLE_CLIENT_ID"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "GOOGLE_CLIENT_SECRET"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of GOOGLE_CLIENT_SECRET"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "GOOGLE_ACCESS_TOKEN"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of GOOGLE_ACCESS_TOKEN"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "GOOGLE_REFRESH_TOKEN"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of GOOGLE_REFRESH_TOKEN"
                                  }
                                }
                              }
                            ]
                          }
                        }
                      },
                      "packageName": {
                        "type": "string",
                        "description": "@microfox/google-sheets"
                      }
                    },
                    "required": [
                      "arguments"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "description": "A two-dimensional array containing the values in the specified range"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message describing the issue with the request"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Sheet or range not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message indicating that the sheet or range was not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message describing the internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/updateValues": {
      "post": {
        "operationId": "updateValues",
        "summary": "Updates values in a specified range of a Google Sheet.",
        "description": "This function updates the values in a specified range of a Google Sheet with the provided data. It takes an input object containing the range and values to update, along with an optional parameter to specify how the input data should be interpreted. The function returns a promise that resolves to an object containing information about the update operation.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "object",
                    "description": "Body of the updateValues sls call",
                    "properties": {
                      "arguments": {
                        "type": "array",
                        "items": [
                          {
                            "type": "object",
                            "description": "An object containing the range and values to update",
                            "properties": {
                              "input": {
                                "type": "object",
                                "description": "UpdateValuesInput - An object containing the range and values to update",
                                "required": [
                                  "range",
                                  "values"
                                ],
                                "properties": {
                                  "range": {
                                    "type": "object",
                                    "description": "The range to update",
                                    "required": [
                                      "sheetId",
                                      "range"
                                    ],
                                    "properties": {
                                      "sheetId": {
                                        "type": "string",
                                        "description": "The ID of the sheet"
                                      },
                                      "range": {
                                        "type": "string",
                                        "description": "The A1 notation of the range"
                                      }
                                    }
                                  },
                                  "values": {
                                    "type": "array",
                                    "description": "The values to be updated",
                                    "items": {
                                      "type": "array",
                                      "items": {
                                        "type": "any"
                                      }
                                    }
                                  }
                                }
                              },
                              "valueInputOption": {
                                "type": "string",
                                "description": "How the input data should be interpreted",
                                "enum": [
                                  "USER_ENTERED",
                                  "RAW",
                                  "INPUT_VALUE_OPTION_UNSPECIFIED"
                                ],
                                "default": "USER_ENTERED"
                              }
                            },
                            "required": [
                              "input"
                            ]
                          }
                        ]
                      },
                      "auth": {
                        "type": "object",
                        "description": "Authentication object",
                        "properties": {
                          "strategy": {
                            "type": "string",
                            "description": "Authentication strategy",
                            "enum": [
                              "oauth2"
                            ]
                          },
                          "variables": {
                            "type": "array",
                            "description": "Variables for the authentication strategy",
                            "items": [
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "GOOGLE_CLIENT_ID"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of GOOGLE_CLIENT_ID"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "GOOGLE_CLIENT_SECRET"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of GOOGLE_CLIENT_SECRET"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "GOOGLE_ACCESS_TOKEN"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of GOOGLE_ACCESS_TOKEN"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "GOOGLE_REFRESH_TOKEN"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of GOOGLE_REFRESH_TOKEN"
                                  }
                                }
                              }
                            ]
                          }
                        }
                      },
                      "packageName": {
                        "type": "string",
                        "description": "@microfox/google-sheets"
                      }
                    },
                    "required": [
                      "arguments"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "spreadsheetId": {
                      "type": "string",
                      "description": "The ID of the spreadsheet"
                    },
                    "updatedRange": {
                      "type": "string",
                      "description": "The range that was updated"
                    },
                    "updatedRows": {
                      "type": "number",
                      "description": "The number of rows updated"
                    },
                    "updatedColumns": {
                      "type": "number",
                      "description": "The number of columns updated"
                    },
                    "updatedCells": {
                      "type": "number",
                      "description": "The number of cells updated"
                    },
                    "clearedRange": {
                      "type": "string",
                      "description": "The range that was cleared"
                    }
                  },
                  "required": [
                    "spreadsheetId"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message describing the bad request"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message indicating insufficient permissions"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Sheet or range not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message indicating the sheet or range was not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message describing the server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/appendValues": {
      "post": {
        "operationId": "appendValues",
        "summary": "Appends values to a specified range in a Google Sheet.",
        "description": "This function appends provided data to a specified range in a Google Sheet. It allows customization of how the input data should be interpreted and inserted. The function returns a promise that resolves to an object containing information about the append operation.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "object",
                    "description": "Body of the appendValues sls call",
                    "properties": {
                      "arguments": {
                        "type": "array",
                        "items": [
                          {
                            "type": "object",
                            "description": "Input object containing the range and values to append",
                            "properties": {
                              "range": {
                                "type": "object",
                                "description": "The range to append to",
                                "properties": {
                                  "sheetId": {
                                    "type": "string",
                                    "description": "The ID of the sheet"
                                  },
                                  "range": {
                                    "type": "string",
                                    "description": "The A1 notation of the range"
                                  }
                                },
                                "required": [
                                  "sheetId",
                                  "range"
                                ]
                              },
                              "values": {
                                "type": "array",
                                "items": {
                                  "type": "array",
                                  "items": {}
                                },
                                "description": "The values to be appended (two-dimensional array)"
                              }
                            },
                            "required": [
                              "range",
                              "values"
                            ]
                          },
                          {
                            "type": "string",
                            "enum": [
                              "USER_ENTERED",
                              "RAW",
                              "INPUT_VALUE_OPTION_UNSPECIFIED"
                            ],
                            "default": "USER_ENTERED",
                            "description": "How the input data should be interpreted"
                          },
                          {
                            "type": "string",
                            "enum": [
                              "INSERT_ROWS",
                              "OVERWRITE"
                            ],
                            "default": "INSERT_ROWS",
                            "description": "How the input data should be inserted"
                          }
                        ]
                      },
                      "auth": {
                        "type": "object",
                        "description": "Authentication object",
                        "properties": {
                          "strategy": {
                            "type": "string",
                            "description": "Authentication strategy",
                            "enum": [
                              "oauth2"
                            ]
                          },
                          "variables": {
                            "type": "array",
                            "description": "Variables for the authentication strategy",
                            "items": [
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "GOOGLE_CLIENT_ID"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of GOOGLE_CLIENT_ID"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "GOOGLE_CLIENT_SECRET"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of GOOGLE_CLIENT_SECRET"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "GOOGLE_ACCESS_TOKEN"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of GOOGLE_ACCESS_TOKEN"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "GOOGLE_REFRESH_TOKEN"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of GOOGLE_REFRESH_TOKEN"
                                  }
                                }
                              }
                            ]
                          }
                        }
                      },
                      "packageName": {
                        "type": "string",
                        "description": "@microfox/google-sheets"
                      }
                    },
                    "required": [
                      "arguments"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "spreadsheetId": {
                      "type": "string",
                      "description": "The ID of the spreadsheet"
                    },
                    "tableRange": {
                      "type": "string",
                      "description": "The range of the table that was appended to"
                    },
                    "updates": {
                      "type": "object",
                      "properties": {
                        "spreadsheetId": {
                          "type": "string",
                          "description": "The ID of the spreadsheet"
                        },
                        "updatedRange": {
                          "type": "string",
                          "description": "The range that was updated"
                        },
                        "updatedRows": {
                          "type": "integer",
                          "description": "The number of rows that were updated"
                        },
                        "updatedColumns": {
                          "type": "integer",
                          "description": "The number of columns that were updated"
                        },
                        "updatedCells": {
                          "type": "integer",
                          "description": "The number of cells that were updated"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message describing the bad request"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message indicating insufficient permissions"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found - Sheet or range not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message indicating the sheet or range was not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message describing the server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/clearValues": {
      "post": {
        "operationId": "clearValues",
        "summary": "Clears values from a specified range in a Google Sheet.",
        "description": "This function clears all values from a specified range in a Google Sheet. It takes a single input object containing the sheet ID and the range in A1 notation. The function returns a promise that resolves to an object with information about the clear operation.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "object",
                    "description": "Body of the clearValues sls call",
                    "properties": {
                      "arguments": {
                        "type": "array",
                        "items": [
                          {
                            "type": "object",
                            "description": "Input object specifying the sheet ID and range",
                            "properties": {
                              "sheetId": {
                                "type": "string",
                                "description": "The ID of the sheet"
                              },
                              "range": {
                                "type": "string",
                                "description": "The A1 notation of the range"
                              }
                            },
                            "required": [
                              "sheetId",
                              "range"
                            ]
                          }
                        ]
                      },
                      "auth": {
                        "type": "object",
                        "description": "Authentication object",
                        "properties": {
                          "strategy": {
                            "type": "string",
                            "description": "Authentication strategy",
                            "enum": [
                              "oauth2"
                            ]
                          },
                          "variables": {
                            "type": "array",
                            "description": "Variables for the authentication strategy",
                            "items": [
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "GOOGLE_CLIENT_ID"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of GOOGLE_CLIENT_ID"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "GOOGLE_CLIENT_SECRET"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of GOOGLE_CLIENT_SECRET"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "GOOGLE_ACCESS_TOKEN"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of GOOGLE_ACCESS_TOKEN"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "GOOGLE_REFRESH_TOKEN"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of GOOGLE_REFRESH_TOKEN"
                                  }
                                }
                              }
                            ]
                          }
                        }
                      },
                      "packageName": {
                        "type": "string",
                        "description": "@microfox/google-sheets"
                      }
                    },
                    "required": [
                      "arguments"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "spreadsheetId": {
                      "type": "string",
                      "description": "The ID of the spreadsheet"
                    },
                    "clearedRange": {
                      "type": "string",
                      "description": "The range that was cleared"
                    },
                    "clearedRows": {
                      "type": "integer",
                      "description": "The number of rows that were cleared"
                    },
                    "clearedColumns": {
                      "type": "integer",
                      "description": "The number of columns that were cleared"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message describing the issue with the request"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions to access the sheet",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message indicating insufficient permissions"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Sheet or range not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message indicating the sheet or range was not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message describing the internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/batchGetValues": {
      "post": {
        "operationId": "batchGetValues",
        "summary": "Batch retrieves values from multiple ranges in a Google Sheet.",
        "description": "This function allows for efficient retrieval of data from multiple ranges within a Google Sheet using a single batch request. It takes a sheet ID and an array of range notations, returning a three-dimensional array containing the values from each specified range. This approach minimizes API calls and improves performance when fetching data from multiple areas of a spreadsheet.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "object",
                    "description": "Body of the batchGetValues sls call",
                    "properties": {
                      "arguments": {
                        "type": "array",
                        "items": [
                          {
                            "type": "string",
                            "description": "The ID of the sheet",
                            "example": "1BxiMVs0XRA5nFMdKvBdBZjgmUUqptlbs74OgvE2upms"
                          },
                          {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "An array of A1 notations of the ranges to retrieve",
                            "example": [
                              "A1:B2",
                              "C1:D2"
                            ]
                          }
                        ]
                      },
                      "auth": {
                        "type": "object",
                        "description": "Authentication object",
                        "properties": {
                          "strategy": {
                            "type": "string",
                            "description": "Authentication strategy",
                            "enum": [
                              "oauth2"
                            ]
                          },
                          "variables": {
                            "type": "array",
                            "description": "Variables for the authentication strategy",
                            "items": [
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "GOOGLE_CLIENT_ID"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of GOOGLE_CLIENT_ID"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "GOOGLE_CLIENT_SECRET"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of GOOGLE_CLIENT_SECRET"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "GOOGLE_ACCESS_TOKEN"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of GOOGLE_ACCESS_TOKEN"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "GOOGLE_REFRESH_TOKEN"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of GOOGLE_REFRESH_TOKEN"
                                  }
                                }
                              }
                            ]
                          }
                        }
                      },
                      "packageName": {
                        "type": "string",
                        "description": "@microfox/google-sheets"
                      }
                    },
                    "required": [
                      "arguments"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "description": "A three-dimensional array containing the values in the specified ranges"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message describing the issue with the request"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions to access the sheet",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message indicating insufficient permissions"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Sheet or specified ranges not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message indicating the resource was not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message describing the server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/batchUpdateValues": {
      "post": {
        "operationId": "batchUpdateValues",
        "summary": "Batch updates values in multiple ranges of a Google Sheet.",
        "description": "This function allows for updating values in multiple specified ranges of a Google Sheet with provided data in a single batch request. It takes the sheet ID, an array of update inputs, and an optional value input option. The function returns a promise that resolves to an array of API responses, each containing information about an update operation in the batch.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "object",
                    "description": "Body of the batchUpdateValues sls call",
                    "properties": {
                      "arguments": {
                        "type": "array",
                        "items": [
                          {
                            "type": "string",
                            "description": "The ID of the sheet. This is a required field and should be a valid string."
                          },
                          {
                            "type": "array",
                            "description": "An array of objects, each containing the range and values to update. This is a required field.",
                            "items": {
                              "type": "object",
                              "properties": {
                                "range": {
                                  "type": "object",
                                  "properties": {
                                    "sheetId": {
                                      "type": "string",
                                      "description": "The ID of the sheet"
                                    },
                                    "range": {
                                      "type": "string",
                                      "description": "The A1 notation of the values to update"
                                    }
                                  },
                                  "required": [
                                    "sheetId",
                                    "range"
                                  ]
                                },
                                "values": {
                                  "type": "array",
                                  "items": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  "description": "The data to be written"
                                }
                              },
                              "required": [
                                "range",
                                "values"
                              ]
                            }
                          },
                          {
                            "type": "string",
                            "enum": [
                              "USER_ENTERED",
                              "RAW",
                              "INPUT_VALUE_OPTION_UNSPECIFIED"
                            ],
                            "default": "USER_ENTERED",
                            "description": "How the input data should be interpreted. Defaults to 'USER_ENTERED'."
                          }
                        ]
                      },
                      "auth": {
                        "type": "object",
                        "description": "Authentication object",
                        "properties": {
                          "strategy": {
                            "type": "string",
                            "description": "Authentication strategy",
                            "enum": [
                              "oauth2"
                            ]
                          },
                          "variables": {
                            "type": "array",
                            "description": "Variables for the authentication strategy",
                            "items": [
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "GOOGLE_CLIENT_ID"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of GOOGLE_CLIENT_ID"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "GOOGLE_CLIENT_SECRET"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of GOOGLE_CLIENT_SECRET"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "GOOGLE_ACCESS_TOKEN"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of GOOGLE_ACCESS_TOKEN"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "GOOGLE_REFRESH_TOKEN"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of GOOGLE_REFRESH_TOKEN"
                                  }
                                }
                              }
                            ]
                          }
                        }
                      },
                      "packageName": {
                        "type": "string",
                        "description": "@microfox/google-sheets"
                      }
                    },
                    "required": [
                      "arguments"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "spreadsheetId": {
                        "type": "string",
                        "description": "The ID of the spreadsheet that was updated."
                      },
                      "updatedRange": {
                        "type": "string",
                        "description": "The range (in A1 notation) that was updated."
                      },
                      "updatedRows": {
                        "type": "integer",
                        "description": "The number of rows that were updated."
                      },
                      "updatedColumns": {
                        "type": "integer",
                        "description": "The number of columns that were updated."
                      },
                      "updatedCells": {
                        "type": "integer",
                        "description": "The number of cells that were updated."
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message describing the issue with the request"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions to access the sheet",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message indicating insufficient permissions"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Sheet ID not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message indicating the sheet was not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message describing the server-side issue"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/batchClearValues": {
      "post": {
        "operationId": "batchClearValues",
        "summary": "Batch clears values from multiple ranges in a Google Sheet.",
        "description": "This function clears all values from multiple specified ranges in a Google Sheet using a single batch request. It takes the sheet ID and an array of A1 notations for the ranges to be cleared, and returns a promise that resolves to an object containing information about the clear operation.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "object",
                    "description": "Body of the batchClearValues sls call",
                    "properties": {
                      "arguments": {
                        "type": "array",
                        "items": [
                          {
                            "type": "string",
                            "description": "The ID of the sheet. This is a required field and should be a valid string."
                          },
                          {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "An array of A1 notations of the ranges to clear. This is a required field and should be an array of valid strings."
                          }
                        ]
                      },
                      "auth": {
                        "type": "object",
                        "description": "Authentication object",
                        "properties": {
                          "strategy": {
                            "type": "string",
                            "description": "Authentication strategy",
                            "enum": [
                              "oauth2"
                            ]
                          },
                          "variables": {
                            "type": "array",
                            "description": "Variables for the authentication strategy",
                            "items": [
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "GOOGLE_CLIENT_ID"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of GOOGLE_CLIENT_ID"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "GOOGLE_CLIENT_SECRET"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of GOOGLE_CLIENT_SECRET"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "GOOGLE_ACCESS_TOKEN"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of GOOGLE_ACCESS_TOKEN"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "GOOGLE_REFRESH_TOKEN"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of GOOGLE_REFRESH_TOKEN"
                                  }
                                }
                              }
                            ]
                          }
                        }
                      },
                      "packageName": {
                        "type": "string",
                        "description": "@microfox/google-sheets"
                      }
                    },
                    "required": [
                      "arguments"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "spreadsheetId": {
                      "type": "string",
                      "description": "The ID of the spreadsheet that was modified"
                    },
                    "clearedRanges": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The ranges that were cleared"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message describing the issue with the request"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions to access the sheet",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message indicating insufficient permissions"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Sheet or specified ranges not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message indicating the sheet or ranges were not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message describing the internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/duplicateRowsDetection": {
      "post": {
        "operationId": "duplicateRowsDetection",
        "summary": "Detects fully duplicated rows within a specified sheet range.",
        "description": "This function identifies and returns fully duplicated rows from a given range in a spreadsheet. It takes a single parameter object containing the sheet ID and the range to check, and returns a Promise that resolves to an array of duplicate rows. This can be useful for data cleaning and analysis tasks in spreadsheet applications.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "object",
                    "description": "Body of the duplicateRowsDetection sls call",
                    "properties": {
                      "arguments": {
                        "type": "array",
                        "items": [
                          {
                            "type": "object",
                            "description": "Configuration object containing sheet ID and range",
                            "properties": {
                              "sheetId": {
                                "type": "string",
                                "description": "The ID of the sheet to check for duplicates"
                              },
                              "range": {
                                "type": "string",
                                "description": "The range to check for duplicates (e.g., 'A1:B10')"
                              }
                            },
                            "required": [
                              "sheetId",
                              "range"
                            ]
                          }
                        ]
                      },
                      "auth": {
                        "type": "object",
                        "description": "Authentication object",
                        "properties": {
                          "strategy": {
                            "type": "string",
                            "description": "Authentication strategy",
                            "enum": [
                              "oauth2"
                            ]
                          },
                          "variables": {
                            "type": "array",
                            "description": "Variables for the authentication strategy",
                            "items": [
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "GOOGLE_CLIENT_ID"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of GOOGLE_CLIENT_ID"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "GOOGLE_CLIENT_SECRET"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of GOOGLE_CLIENT_SECRET"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "GOOGLE_ACCESS_TOKEN"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of GOOGLE_ACCESS_TOKEN"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "GOOGLE_REFRESH_TOKEN"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of GOOGLE_REFRESH_TOKEN"
                                  }
                                }
                              }
                            ]
                          }
                        }
                      },
                      "packageName": {
                        "type": "string",
                        "description": "@microfox/google-sheets"
                      }
                    },
                    "required": [
                      "arguments"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "A duplicate row"
                  },
                  "description": "An array of duplicate rows"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message describing the issue with the request"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found - sheet or range not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message indicating that the sheet or range was not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message describing the internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sanitizeSheetData": {
      "post": {
        "operationId": "sanitizeSheetData",
        "summary": "Sanitizes sheet data by removing whitespace padding from string cells in a specified range.",
        "description": "This function removes whitespace padding from all string cells within a given range in a Google Sheet and updates the sheet with the cleaned data. It takes an input object containing the range and values to be sanitized, processes the data, and then updates the sheet using the Google Sheets API.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "type": "object",
                    "description": "Body of the sanitizeSheetData sls call",
                    "properties": {
                      "arguments": {
                        "type": "array",
                        "items": [
                          {
                            "type": "object",
                            "description": "The input object containing the range and values to clean and update.",
                            "properties": {
                              "range": {
                                "type": "object",
                                "description": "The range in the sheet to be updated.",
                                "properties": {
                                  "sheetId": {
                                    "type": "string",
                                    "description": "The ID of the sheet to be updated."
                                  },
                                  "range": {
                                    "type": "string",
                                    "description": "The A1 notation of the range to be updated."
                                  }
                                },
                                "required": [
                                  "sheetId",
                                  "range"
                                ]
                              },
                              "values": {
                                "type": "array",
                                "description": "The 2D array of values to be sanitized and updated in the sheet.",
                                "items": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              }
                            },
                            "required": [
                              "range",
                              "values"
                            ]
                          }
                        ]
                      },
                      "auth": {
                        "type": "object",
                        "description": "Authentication object",
                        "properties": {
                          "strategy": {
                            "type": "string",
                            "description": "Authentication strategy",
                            "enum": [
                              "oauth2"
                            ]
                          },
                          "variables": {
                            "type": "array",
                            "description": "Variables for the authentication strategy",
                            "items": [
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "GOOGLE_CLIENT_ID"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of GOOGLE_CLIENT_ID"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "GOOGLE_CLIENT_SECRET"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of GOOGLE_CLIENT_SECRET"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "GOOGLE_ACCESS_TOKEN"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of GOOGLE_ACCESS_TOKEN"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "GOOGLE_REFRESH_TOKEN"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value of GOOGLE_REFRESH_TOKEN"
                                  }
                                }
                              }
                            ]
                          }
                        }
                      },
                      "packageName": {
                        "type": "string",
                        "description": "@microfox/google-sheets"
                      }
                    },
                    "required": [
                      "arguments"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully sanitized and updated the sheet data.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "The update result from Google Sheets API.",
                  "properties": {
                    "spreadsheetId": {
                      "type": "string",
                      "description": "The ID of the spreadsheet that was updated."
                    },
                    "updatedRange": {
                      "type": "string",
                      "description": "The range that was updated in A1 notation."
                    },
                    "updatedRows": {
                      "type": "integer",
                      "description": "The number of rows that were updated."
                    },
                    "updatedColumns": {
                      "type": "integer",
                      "description": "The number of columns that were updated."
                    },
                    "updatedCells": {
                      "type": "integer",
                      "description": "The number of cells that were updated."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request. This could occur if the input parameters are invalid or missing.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message describing the issue with the request."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The request is not authorized to access the sheet.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message indicating lack of permission."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found. The specified sheet or range does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message indicating the resource was not found."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error. An unexpected error occurred while processing the request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message describing the internal server error."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}